    <section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Phone, Mobile & Email Searching</h2>
            <h3 class="oe_slogan">Add more feature to the Odoo User Experience!</h3>
            </div>
        <div class="oe_span12">
            <p class="oe_mt32">
For Odoo Community & Enterprise Version 11.0, this module add more feature for searching by phone, email & mobile number help you easy to search anything related to contact.
            </p>
            
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
                <center><img src="Searching.gif"/></center>
                </div>
        </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Share your experience with us!</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Plz requests your feedback on this module if you need more feature!</p>
            <p class="oe_mt32">
If you have anything you want to share with us based on your use of this module, please let us know.</p>
            <p class="oe_mt32">
Please email <a href="mailto:saas@w360s.com">saas@w360s.com</a> with any questions or comments.  
           </p>
            <p class="oe_mt32">
To learn more about us and what we do, 
visit us on the web at <a href="http://saastools.xyz">http://saastools.xyz</a>
            </p>
            <p class="oe_mt32">
<i>Best Odoo Expert of of your choice. Best Odoo SaaS Tools System forever find me on <a href="https://www.fiverr.com/w360scorp">FIVERR</a> if you need build up your own business with Odoo</i>
           </p>

        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="Logo.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
    	<h2 class="oe_slogan">Some clients talk about us! on <a href="https://www.fiverr.com/w360scorp">FIVERR</a></h2>
        <div class="oe_span12">
                <center><img src="testimonials.jpg"/></center>
                </div>
        </div>
</section>
